
body{
background-image: linear-gradient(190deg, #bbfff7 0, #a7fff5 12.5%, #91fff4 25%, #76faf3 37.5%, #53f2f2 50%, #0feaf2 62.5%, #00e1f4 75%, #00daf6 87.5%, #00d2f9 100%);
 background-size: cover;
 background-repeat: no-repeat;
}

h1{
	text-align: center;

}
